    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Logan Moore 2015 - All Rights Reserved</p>

            <ul class="social">
                <li><a href="https://twitter.com/loganmoorenz">Twitter</a></li>
                <li><a href="https://github.com/loganm">GitHub</a></li>
                <li><a href="https://nz.linkedin.com/pub/logan-moore/55/4b8/695">LinkedIn</a></li>
            </ul>

        </div>

    </div>

</footer>